<p id="notice"><%= notice %></p>

<h1>Listing Dj Portfolios</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Facebook link</th>
      <th>Instagram link</th>
      <th>Twitter link</th>
      <th>Soundcloud link</th>
      <th>Mixcloud link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dj_portfolios.each do |dj_portfolio| %>
      <tr>
        <td><%= dj_portfolio.name %></td>
        <td><%= dj_portfolio.bio %></td>
        <td><%= dj_portfolio.facebook_link %></td>
        <td><%= dj_portfolio.instagram_link %></td>
        <td><%= dj_portfolio.twitter_link %></td>
        <td><%= dj_portfolio.soundcloud_link %></td>
        <td><%= dj_portfolio.mixcloud_link %></td>
        <td><%= link_to 'Show', dj_portfolio %></td>
        <td><%= link_to 'Edit', edit_dj_portfolio_path(dj_portfolio) %></td>
        <td><%= link_to 'Destroy', dj_portfolio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dj portfolio', new_dj_portfolio_path %>
