%h2 DJ Profiles
%table
  %thead
    %tr
      %th Profile Picture
      %th Name
      %th Facebook
      %th Instagram
      %th Twitter
      %th Soundcloud
      %th Mixcloud
      %th Genres
      %th{:colspan => "9"}
  %tbody
    - @dj_portfolios.each do |dj_portfolio|
      %tr
        %td= image_tag dj_portfolio.avatar.thumb.url
        %td= dj_portfolio.name
        %td= dj_portfolio.facebook_link
        %td= dj_portfolio.instagram_link
        %td= dj_portfolio.twitter_link
        %td= dj_portfolio.soundcloud_link
        %td= dj_portfolio.mixcloud_link
        %td= dj_portfolio.genres.join(", ") 
        %td= link_to 'Show', dj_portfolio


-if user_current && user_valid
  = link_to 'New Dj portfolio', new_dj_portfolio_path
  = link_to 'Back', root_path
-else
  = link_to 'Back', root_path

