= form_for(@gig_request) do |f|
  - if @gig_request.errors.any?
    #error_explanation
      %h2
        = pluralize(@gig_request.errors.count, "error")
        Missing fields:
      %ul
        - @gig_request.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :address
    %br/
    = f.text_field :address
  .field
    = f.label :phone
    %br/
    = f.text_field :phone
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :gig_date
    %br/
    = f.date_select :gig_date, start_year: Date.today.year
  .field
    = f.label :gig_time
    %br/
    = f.time_select :gig_time
  .field
    = f.label :gig_duration
    %br/
    = f.number_field :gig_duration
  .field
    = f.label "Check box if you want to rent a light system."
    %br/
    = f.check_box :light_rent
  .field
    = f.label "Check box if you want to rent a speaker system."
    %br/
    = f.check_box :speaker_rent
  .field
    = f.label "Preferred DJ"
    %br/
    = f.text_field :dj_preferred
  .field
    = f.label "Price(per hour)"
    %br/
    = f.number_field :price, step: :any
  .actions
    = f.submit
