%p#notice= notice
%h1 Listing Gig Requests
       
%table
  %thead
    %tr
      %th Name
      %th Address
      %th Phone
      %th Email
      %th Gig date
      %th Gig time
      %th Gig Duration
      %th Light Rental
      %th= link_to "Speaker Rental", gig_requests_path(sort:"speaker_rent"), id:"speaker_rent_header"
      %th Preferred DJ
      %th= link_to "Admin Approved", gig_requests_path(sort:"approval"), id:"approval_header"
      %th User Approved
      %th Price
      %th{:colspan => "5"}
  %tbody
    - @gig_requests.each do |gig_request|
      %tr
        %td= gig_request.name
        %td= gig_request.address
        %td= gig_request.phone
        %td= gig_request.email
        %td= gig_request.gig_date
        %td= gig_request.gig_time.strftime("%I:%m %p")
        %td= gig_request.gig_duration
        %td= gig_request.light_rent
        %td= gig_request.speaker_rent
        %td= gig_request.dj_preferred
        %td= gig_request.approval
        %td= gig_request.client_approval
        %td= gig_request.price
        %td= link_to 'Show', gig_request
        %td= link_to 'Edit', edit_gig_request_path(gig_request)
        %td= link_to 'Destroy', gig_request, method: :delete, data: { confirm: 'Are you sure?' }