- content_for :head do
    %meta{:content => "no-cache", :name => "turbolinks-cache-control"}/
.hero-image
    = image_tag("header.jpg")
    .hero-text
        %h1 DJs of Aggieland
        %p A recognized Texas A&M student organization
  
.row
    %br
    %h2{:style => "text-align: center"} Members Available for Gigs
    .separator 

%section.members.sections
    .container
        .dj_carousel
            -@welcome.each do |welcome|
                -welcome.dj_portfolios.each do |dj_portfolio|
                    %div
                        =link_to dj_portfolio do
                            .fade-on-hover
                                =image_tag dj_portfolio.avatar.carousel.url
                                %p= dj_portfolio.name
                        
        .row{:align => "center"}
            .btn.btn-primary.abt-btn
                = link_to 'See All', dj_portfolios_path, :class => "btn"

%section#contact.sections{:style => "background-color: var(--lightest-blue);"}
    .container
        .heading-content.text-center
            .heading-title
                %h3 Contact Us
        %div{:style => "text-align:center"}
            %p
                %b Email: theDJsOfAggieland@gmail.com
                %br
            .col-lg-1.col-md-1.col-sm-1.col-xs-1
                
            .col-lg-2.col-md-2.col-sm-2.col-xs-2
               
            .col-lg-2.col-md-2.col-sm-2.col-xs-2
                .homepage-icon
                    = link_to image_tag("facebook.png"), 'https://www.facebook.com/DJAPublic/', class: 'nav-link', target: :_blank
            .col-lg-2.col-md-2.col-sm-2.col-xs-2
                .homepage-icon
                    = link_to image_tag("mail.png"), 'mailto:TheDjsOfAggieland@gmail.com?Subject=Inquiries', target: :_blank
            .col-lg-2.col-md-2.col-sm-2.col-xs-2{:style => "margin-bottom: 35px;"}
                .homepage-icon
                    = link_to image_tag("twitter.png"), 'https://twitter.com/TheDJOA', target: :_blank



/This is bad practce, but at the moment, it is the only way the carousel works.               
%script{:src => "js/jquery-1.11.3.min.js"}
%script{:src => "js/slick/slick.min.js"}
%script{:src => "js/main.js"}
:javascript
    $(document).ready(function(){
    $('.dj_carousel').slick({
        slidesToShow: 3,
        adpativeHeight: true,
        autoplay: true,
        autoplaySpeed: 2000,
        });
    });